@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: black;

}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
}

.frame {
        /* Border */
        height: 100vh;
        border-style: groove;
        border-width: 25px;
        border-color: gray;
}